{# XTC Search results page #}
<div class="col-12 p-0">
  <div class="col-12 py-20">
    <div class="row m-0">
      <div class="col-12 col-sm-12 col-md-6 pr-0 pr-md-3 mt-3 mb-3">
        <div id="total">{{ response.total }} Result(s)</div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 pr-0 pr-md-3 mt-3 mb-3">
        <div class="text-center text-sm-right d-block">
          <button class="filter-button" id="filter-button">Display filters</button>
        </div>
      </div>
    </div>
  </div>
  {{ form|render }}
</div>
