{# XTC Search results page #}
<div class="col-12 p-0">
  <!--Page name-->
  <div class="row m-0">
    <div class="col-12 mt-0 mt-sm-3 pl-0 pl-md-3">
      <h1 class="h1-page-name">
        {{ response.headline }}
      </h1>
    </div>
  </div>
  {{ form|render }}
</div>
