<!-- Début individual NEWS -->
<div class="col-sm-12 col-md-6 col-lg-4 grid-item px-0 px-md-3">
  <div class="individual-news">
    ITEM
  </div>
  <!--FIN Row Contenu Text -->

</div>
<!-- FIN individual NEWS -->
